.gallery {
    border-radius: 25px;
    background-color: var(--secondary-color);
    margin: 40px auto;
    padding: 25px;
}

.gallery ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media screen and (max-width : 1340px) {
    .gallery ul {
        justify-content: space-evenly;

    }
 }

 @media screen and (max-width : 940px) {
    .gallery ul {
        justify-content: center;

    }
 }

 @media screen and (max-width : 740px) {
    .gallery {
        margin: 20px 0;
        padding: 0;
        background-color: white;
    }

    .gallery ul {
        margin: 0;
    }
 }


