.footer {
    text-align : center;
    background : #000000;
    width: 100%;
}

.footer-logo {
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer-text {
    color : #FFFFFF;
    font-size: 24px;
    padding: 30px 0;
}

