:root {
  --primary-color : #FF6060;
  --secondary-color : #F7F7F7;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  color : var(--primary-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
span {
  margin: 0;
  font-weight: 500;
}